* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.default { cursor: default; }
.pointer { cursor: pointer; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	width: 100vw;
	/*overflow-x: hidden !important;*/
	overflow-y: scroll !important;
}

body::-webkit-scrollbar {
    width: 1.1em;
}

body::-webkit-scrollbar-track {
    background: #1f2530;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.4);
}

#site {
	width: 100vw;
	height: auto;
	background: #1f2530;
	display: flex;
	flex-flow: column;
	align-items: center;
}

header, footer {
	width: 70%;
}

header {
	position: fixed;
	min-height: 80px;
	height: 10vh;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	top: 0;
}

hr.style {
	height: 6px;
	background: url(hr.png) repeat-x 0 0;
	border: 0;
}

#main-img {
	font-size: 3em;
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navigation {
	font-size: 1.3em;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

#navigation nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	letter-spacing: 2px;
	padding: 10px;
}

#navigation nav a {
	margin: 0 10px;
}

#navigation nav a > div {
	display: inline-block;
	cursor: pointer;
	padding: 6px 10px;
	transition: 200ms linear;
}

#navigation nav a > div:hover {
	background: #000;
	color: #fff;
}

#nav_button {
	display: none;
	margin: 10px 20px 0 0;
}

#nav_button:focus {
	outline: 0;
}

.hamburger-inner {

}

#mobile_menu {
	width: 400px;
	background: #232323;
	border: none;
}

#mobile_menu > ul {
	width: 100%;
	font-size: 1em;
	letter-spacing: 2px;
}

#mobile_menu > ul > li {
	padding: 10px 0;
}

#mobile_menu .logo {
	font-size: 2.4em;
	letter-spacing: 2px;
	margin: 10% 0;
}

#mobile_menu .logo .icon {
	margin: 0 9%;
}

#mobile_menu > ul > li > div {
	padding: 5%;
	font-size: 2em;
	transition: background 300ms ease;
}

#mobile_menu > ul > li > div span {
	padding: 0 15px;
	font-size: .8em;
}

#mobile_menu > ul > li > div:hover {
	background: #383838;
}

@media screen and (max-width: 1120px) {
	#navigation {
		display: none;
	}

	#nav_button {
		display: block;
	}
}

content > #sign {
  font-size: 4em;
}

@media screen and (max-width: 700px) {
	#uc > #text {
		font-size: .8em;
	}

	#mobile_menu {
		width: 250px;
	}

	#mobile_menu .logo {
		display: flex;
		justify-content: center;
		font-size: 5em;
		margin: 7% 0;
	}

	#mobile_menu .logo .text {
		display: none;
	}

	#mobile_menu > ul > li > div {
		font-size: 1.5em;
	}
}

content {
	width: 100%;
	font-size: 4em;
	color:white;
	text-align: center;
}

content > .section {
	margin: 0 auto;
	width: 70%;
	height: 99.9vh;
	position: relative;
}

#title-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

@keyframes change {
	0% { content:"developer"; }
	7% 	{opacity: 1;} 10% { opacity: 0; } 13% {opacity: 1; }
	20% { content:"designer"; opacity: 1; }
	27% {opacity: 1; } 30% { opacity: 0; } 33% {opacity: 1; }
	40% { content:"streamer"; opacity: 1; }
	47% 	{opacity: 1; } 50% { opacity: 0; } 53% {opacity: 1; }
	60% { content:"creator"; opacity: 1; }
	67% 	{opacity: 1; } 70% { opacity: 0; } 73% {opacity: 1; }
	80% { content: "gamer"; opacity: 1; }
	87% 	{opacity: 1; } 90% { opacity: 0; } 93% {opacity: 1; }
	100% { content: "developer"; opacity: 1; }
}

#changingTitle {
	margin-left: 20px;
	padding: 10px 20px;
	background: #000;
	color: #fff;
}

#changingTitle:after {
	content: "";
  animation: change 15s linear infinite;
}

@keyframes float {
	0% { bottom: 3%; }
	50% { bottom: 5%; }
}

#d-pointer {
	position: absolute;
	bottom: 3%;
	left: 48%;
	font-size: 40px;
	animation: float 2s ease infinite;
}

#section-2 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#section-2 > .projects {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:flex-start;
	font-size: .7em;
}

#section-2 > .projects > a {
	z-index: 1;
}

#section-2 > .projects .item {
	background: #000;
	margin: 10px 0;
	padding: 8px 13px;
	cursor: pointer;
}

#uc {
	min-height: 800px;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	text-transform: capitalize;
}

#uc > #text {
	margin-top: 35%;
}

#uc > #sign {
	font-size: 2.6em;
	margin-bottom: 35%;
}
