* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

body {
	width: 100vw;
	height: 100vh;
}

#content {
	background: #1f2530;
	display: flex;
	flex-flow: column;
	align-items: center;
}

header, content, footer {
	width:70%;
}

header {
	min-height: 120px;
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr.style {
  height: 6px;
  background: url(hr.png) repeat-x 0 0;
  border: 0;
}

#main-img {
	font-size: 3em;
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#navigation {
	width: 50%;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
}

#navigation nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	letter-spacing: 2px;
	padding: 10px;
}

#navigation nav a > div {
	display: inline-block;
	cursor: pointer;
}

@media screen and (max-width: 1120px) {
	#navigation {
		display: none;
	}
}

content > #sign {
  font-size: 4em;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color:white;
  text-align: center;
}

content > * {
 margin: 20px;
}