* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: default;
  color: white;
}

a, i {
  cursor: pointer;
}

body {
}

body .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(125deg, #E6E8E6, #CED0CE);
}

ul,
li {
  list-style: none;
}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hide {
  display: none !important;
}

#floating-nav {
  position: fixed;
  width: 85vh;
  height: 85vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0em;
  box-shadow: 0px 0px 25px -10px #000;
}

#logo {
  display: block;
  width: 40px;
  height: auto;
  margin: 30px 0 0 30px;
}

svg {
  width: inherit;
  height: inherit;
  fill: #191919;
}

#settings {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

#settings .menu {
  margin-bottom: 10px;
  background: #ddd;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}

#settings .menu .item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#settings .menu .item label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 1em;
  padding: 2px;
  background: #b30;
  border-radius: 2em;
  transition: all .3s ease;
  margin-left: 10px;
}

#settings .menu .item input:checked + label {
  background: #0b3;
}

#settings .menu .item input + label:after {
  left: 0;
  background: #fff;
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 2em;
  transition: all .2s ease;

}

#settings .menu .item input:checked + label:after {
  left: 50%;
}

#settings .trigger {
  background: #ddd;
  border-radius: 5px;
}
#settings .trigger i {
  padding: 10px;
  font-size: 1.2em;
}
