* {
	padding: 0;
	margin: 0;
	font-family: 'Futura', sans-serif;
	color: #611828;
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: #DDDDDD;
}

content {
	width: 450px;
	margin-top: 180px;
}

content > img {}

content > section {
}

content > section > line {
	white-space: nowrap;
}

.left {
	color: #AD647B;
	font-style: italic;
	margin: 50px 50px 0 0;
	display: inline-block;
}

.right {
	display: inline-block;
}

.right > a {
	margin-right: 50px;
}
