* {
	margin: 0;
	padding: 0;
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
}

a {text-decoration: none;}
ul {display: inline-block;}
li {list-style: none;}

/* GOLBAL VARIABLES */
$links-width: 300px;
$icon-size: 40px;
$icon-margin: 1px;
$height: 240px + ($icon-margin * 12);
$groups: 	'reddit' #ff4500 #fff,
					'steam' #133B6F #fff,
					'chan' #8AC545 #0D9549,
					'google'#4285f4 #fff,
					'film' #d6182a #000,
					'dev'#6a737b #fd0;

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: #333;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title{}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $height;
	padding: 10px 0;
}

.groups-wrapper {
	width: $links-width;
	height: $height;
	background: #222;
	margin: 0 10px 0 0;
	border: #222 solid 2px;
	display: flex;
	justify-content: space-between;
}

.group-icons-wrapper {
	height: 100%;
	margin: 0 0;
	> ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		> li {
			background: #111;
			display: flex;
			align-items: center;
			justify-content: center;
			width: $icon-size;
			height: $icon-size;
			margin: $icon-margin 0;
			transition: all .2s ease-in-out;
			> i {
				position: absolute;
				transition: all .2s ease-in-out;
			}
		}
	}
}

@each $group in $groups {
	.#{nth($group, 1)}:hover,.active.#{nth($group, 1)} {
		background: nth($group, 2);
		i { color: nth($group, 3) }
	}
}

.links-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 0px;
	}
}

.links {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	> div {
		position: relative;
		height: $icon-size;
		margin: $icon-margin 1px $icon-margin 2px;
	 	> li {
			z-index: 100;
			position: absolute;
			left: 270px;
			transition: left 200ms ease-in-out;
			background: #111;
			width: 100%;
			height: $icon-size;
			> a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: 100%;
				font-size: 14px;
				padding: 0 0 0 10px;
				transition: all 200ms ease-in-out;
				&:hover {
					background: #333;
				}
			}
		}
	}
}

.active > li {
	left: 0 !	important;
}

.accent-wrapper {
	width: $height;
	height: $height;
	border: solid 2px;
}

.accent-wrapper img {
	width: inherit;
	height: inherit;
}

.accent {
	object-fit: cover;
	object-position: center;
}
