* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: .4s;
  overflow: hidden;
}

.day {
  background: #fff;
  color: #fff;
}

.night {
  background: #222;
  color: #222;
}

.disclaimer {
  position: absolute;
  font-style: italic;
  font-size: 1em;
  color: #36FBB3;
  bottom: 15px;
}

#help-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #36FBB3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#help-btn:hover + #help-menu {
  right: 10px;
}

#help-menu {
  background: #36fbb3;
  position: absolute;
  right: -200px;
  top: 50px;
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  transition: .4s;
  font-size: 14px;
}

#help-menu>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5px 0 5px;
}

#help-menu .left {
  align-items: flex-start;
}

#help-menu .right {
  align-items: flex-end;
}
