* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input[type=text] {border: none;text-align: center;}
input[type=text]:focus {outline: none;}
::-webkit-input-placeholder {color: #AEFDDB;}
::-moz-placeholder {color: #AEFDDB;}
:-ms-input-placeholder {color: #AEFDDB;}
:-moz-placeholder {color: #AEFDDB;}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: .4s;
}

.day {background: #fff;color:#fff;}
.night {background: #222;color:#222;}

.menu {
  position: absolute;
  width: 55vw;
  height: 55vw;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  z-index: -1;
}

.active {z-index: 1;}
.hidden {display: none;}

.title {
  font-size: 5em;
  color: #36FBB3;
  margin: 16% 0;
}

.button, .label {
  margin: 2%;
  width: 26.5%;
  height: 9.5%;
  background: #36FBB3;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  transition: 200ms;
  cursor: pointer;
}

.input[type=text] {
  margin: 2%;
  width: 26.5%;
  height: 9.5%;
  background: #36FBB3;
  font-size: 1.4em;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26.5%;
  height: 9.5%;
}

.volume > * {
  width: 45%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26.5%;
  height: 9.5%;
}

.switch input {
  display:none;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #36FBB3;
}

.slider:before {
  position: absolute;
  content: "";
  height: 85%;
  width: 47%;
  left: 3%;
  bottom: 7%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #36FBB3;
}

input:checked + .slider:before {
  background-color: #222;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.in-game {
  color: #36FBB3;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  margin-top: -4%;
}

.disclaimer {
  position: absolute;
  font-style: italic;
  font-size: 1em;
  color: #36FBB3;
  bottom: 15px;
}
